html {
	height: 100%;

}

* {
	margin: 0;
	padding: 0;
}
	
body {
	font: normal .78em arial, sans-serif;
	
}
#overview2_div {
    margin-top:-30px;

	padding: 0 30px 0 960px;
	
}
#top_healthcare_spending_div, #healthcare_topsharedgdp_div {
    margin-top:0;

	padding: 0 30px 0 960px;
	
}

#healthcarespendingpercapita_div, #healthcarefiveyeargrowth_div {
    margin-top:0;

	padding: 0 30px 0 970px;
	
}
.sidebar2 {
    margin-top:70px;
	width: 400px;
	padding: 0 0 50px 1200px;
	color: #fff;
	font-size: 130%
}
.sidebar4, .sidebar6 {
    margin-top:70px;
	width: 750px;
	padding: 0 0 50px 1070px;
	color: #fff;
	font-size: 130%
}

.sidebar9, .sidebar11 {
    margin-top:70px;
	width: 800px;
	padding: 0 0 50px 1040px;
	color: #fff;
	font-size: 130%
}

#overview1_div {
    margin-top:23px;
	padding: 0 0 0 30px;

}
#top_education_spending_div, #education_topsharedgdp_div {
    margin-top:43px;
	padding: 0 0 0 30px;

}

#educationspendingpercapita_div, #educationfiveyeargrowth_div {
    margin-top: 49px;
	padding: 0 0 0 30px;

}

#militaryspending_div {
	margin-top:40px;
	padding: 0 0 0 470px;
}

.sidebar1 {
	margin-top:-610px;
	text-align:left;
	width: 700px;
	padding: 0 0 0 300px;
	color: #fff;
	font-size: 130%
}

.sidebar3, .sidebar5 {
	margin-top:-730px;
	text-align:left;
	width: 750px;
	padding: 0 0 0 160px;
	color: #fff;
	font-size: 130%
}

.sidebar8, .sidebar10 {
	margin-top:-736px;
	text-align:left;
	width: 750px;
	padding: 0 0 0 90px;
	color: #fff;
	font-size: 130%
}

.sidebar7 {
	margin-top:80px;
	text-align:left;
	width: 900px;
	padding: 0 0 0 490px;
	color: #fff;
	font-size: 130%
	
}

h1 {
	padding: 0 0 0 850px;
	color: #fff;
	
}

#menubar {
	width: 1100px;
	height: 35px;
	padding: 0 0 0 450px;
	position: relative;
	z-index: 1;
}

ul#menu {
	
	margin: 0;
}

ul#menu li {
    float: left;
	margin:5px 0 0 0;
	padding: 0 0 0 6px;
	list-style: none;
}

ul#menu li a {
	letter-spacing: 0em;
	font: normal 80% arial, sans-serif;
	text-transform: uppercase;
	display: block;
	height: 20px;
	text-decoration: none;
	padding: 9px 22px 5px 16px;
	text-align: center;
	color: #fff;
	border: 0;
}

ul#menu li.selected a {
	height: 30px;
	color: #111;
	padding: 7px 22px 5px 16px;
}

ul#menu li.selected {
	margin: 7px 0 0 0;
	background: #f8f8f8;
}

ul#menu li a:hover {
	color: #888;
}

#main {
	
	padding: 0 0 0 0;
	width: 1902px;
	background: url(background.jpg);
}

#footer {
	width: 500px;
	height: 5px;
	padding:0 0 50px 700px;
	color: #0000ff;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 80%
}

#footer2 {
	width: 500px;
	height: 20px;
	margin-top:-150px;
	padding:0 0 50px 700px;
	color: #0000ff;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 80%
}

#footer3 {
	width: 500px;
	height: 20px;
	margin-top:-150px;
	padding:0 0 50px 700px;
	color: #0000ff;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 80%
}

#footer4 {
	width: 500px;
	height: 20px;
	margin-top:-150px;
	padding:0 0 50px 700px;
	color: #0000ff;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 80%
}

