body {
    background-color: #f0f8ff; 
    margin: auto;
    width: 100%;
}
nav ul {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 30px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 90px;
}

/* * {margin: 0.1px;
   padding: 0.1px;} */

.container {
    padding-top: 10px;
    margin: auto;
}

.blurb {
    background-color: #ffffff;
}



#menubar {
    background: url(image1.jpg) repeat-x;
}

img {
    opacity: 1.0;
}

img:hover {
    opacity: 0.68;
}

a {
    font-size: 1.4em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-shadow: 0 0 15px #f0ffff;
}
h1 {
    font-size: 2.3em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
    font-size: 1.2em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p {
    font-size: 1.1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 1.4em;
    color: #000000;
}
footer a{
    border-top: 3px solid #d5d5d5;
    font-size: 1.0em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #000000;
}


